.container {
  max-width: 80%
}

.alert {
  margin: 0;
  padding: 0;
}

.user-accounts {
  height: 100vh;

}


@media only screen and (min-width: 768px){
  .user-accounts {
    border-left: 1px solid black;
  }
}